<!-- <p>attempt-assignment works!</p>
<p *ngIf="assignment">{{assignment.title}}</p>
<button mat-raised-button (click)="openDialog()">PS</button>
<ul>
  <li *ngFor="let item of dispTree" (click)="display(item)">
    {{item.path}}
  </li>
</ul>
<button (click)="saveAssignment()">Save</button>
<div style="height: 80vh">
  <ngx-monaco-editor style="height: 100%;" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
</div> -->
<!-- /////////////////////////////////////////////////////// -->
<div id="container">
  <mat-sidenav-container class="sidenav-container div1">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true" id="files">
      <br>
      <div>
        <button mat-stroked-button (click)="openDialog()" id="ProblemStatement">Problem Statement</button>
      </div>

      <div *ngFor="let item of dispTree">

        <div class="FileStructure">
          <div (click)="getchild(item.path)">
            <div (click)="display(item)" id="{{item.path}}">
              <span *ngFor="let a of item.path.split('/')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <mat-icon *ngIf="item.type=='dir'" mat-list-icon>folder</mat-icon>
              <mat-icon *ngIf="item.type=='file'" mat-list-icon>insert_drive_file</mat-icon>
              {{item.name}}
            </div>
          </div>
          <!-- <mat-icon mat-list-icon (click) = "hide(item.path)">highlight_off</mat-icon> -->
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div id="monaco-cont" style="height: 77vh;overflow-y:scroll; overflow-x: hidden; background: #FFFFFE;">
    <div id="breadcrumb" style=" z-index: 999999999;">>> {{breadcrumb}}</div>
    <div *ngFor="let item of content" id="monacoId">
      <ngx-monaco-editor *ngIf="item.editable" class="editor" id={{item.id}} [options]="editorOptions"
        [style.height.em]="item.text.split('\n').length * 1.5" [(ngModel)]="item.text" (onInit)="onInit($event)" (onDidChangeContent) = "onDidChangeContent($event)">
      </ngx-monaco-editor>
      <div *ngIf="item.editable == false">
        <div *ngFor="let newitem of item.text.split('\n')">
          <div class="nonEdit">
            {{newitem}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button">
      <button mat-raised-button color="primary" (click)="saveAssignment()">Save</button>
      <button mat-raised-button color="primary" (click)="run()">Run</button>
      <button mat-raised-button color="primary">Submit</button>
    </div>
  <div id="console">

  </div>
</div>