/* #container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: s */
/* z-index : -1000000;
}
#monaco-cont{
  padding: 3em;
} */
#container {
  display: grid;
  grid-template-columns: 30fr 70fr;
  grid-template-rows: 85fr 15fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}
#editorMain{
  margin-top: 2em;
}

#files {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

#monaco-cont {
  grid-area: 1 / 2 / 2 / 2;
  min-width: 200px;
  height: 70vh;
  padding: 0.5em;
}

#button {
  grid-area: 2 / 2 / 3 / 3;
  width: 10%;
  height: 3em;
  width: 100%;
}

#button button {
  float: right;
  margin: 1em;
}

#ProblemStatement {
  width: 100%;
  margin-bottom: 2em;
}

#breadcrumb {
  padding: 0.5em;
  font-size: 0.8em;
  /* opacity: 0.7; */
  width: 100%;
  background:#3F51B5;
  color: white;
  position: fixed;
}

#console {
  width: 100%;
  height: 5em;
  background: black;
  
}

.myInlineDecoration {
  background: lightblue !important;
  width: 5px !important;
  margin-left: 3px;
}

.nonEdit {
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  background: linear-gradient(45deg, #ffdbdb 25%, #ffffff 25%, #ffffff 50%, #ffdbdb 50%, #ffdbdb 75%, #ffffff 75%, #ffffff 100%);
  background-size: 8.49px 8.49px;}

.treeHover{
  cursor: pointer;
}
.colourThis{
  color: red;
}
.colourThis svg{
  color: red;
}