

  .sidenav {
    min-width: 200px;
    /* width: 40%; */
  }
#import{
  width: 100%;
  top:-1.3em;
}
#button{
  float: right;
  margin-right: 4em;
}
.hide{
  opacity: 0.5;
}
/* #text{
  display: flex;
    align-items: center;
    justify-content: center;
} */
.FileStructure{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding:7px
}
.sidenav-container{

}